h2 {
  text-align: center;
  margin: 30px;
  font-size: 30px;
}

p {
  text-align: left;
  font-size: 20px;
}

.center {
  text-align: center;
}

.main {
  text-align: left;
  margin: 40px;
}

.main h3 {
  font-weight: bold;
}

footer {
  text-align: center;
  background-color: midnightblue;
  height: 40px;
  color: white;
  font-size: 15px;
  padding: 20px;
}
